<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yellow.b.dao.UserDao">
    <select id="getUserByPhone" parameterType="string" resultType="com.yellow.b.domain.User">
        select *
        from t_user where phone = #{phone}
    </select>
    <insert id="addUser" parameterType="com.yellow.b.domain.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
        t_user(phone,email,password,salt,create_time,update_time,update_ip)
        values(#{phone},#{email},#{password},#{salt},#{createTime},#{updateTime},#{updateIp})
    </insert>
    <insert id="addUserInfo" parameterType="com.yellow.b.domain.UserInfo" useGeneratedKeys="true" keyColumn="id">
        insert into
        t_user_info(user_id,nickname,avatar,sign,birth,gender,create_time,update_time,update_ip)
        values(#{userId},#{nickname},#{avatar},#{sign},#{birth},#{gender},#{createTime},#{updateTime},#{updateIp})
    </insert>
    <select id="getUserById" parameterType="long" resultType="com.yellow.b.domain.User">
        select *
        from t_user
        where id = #{id}
    </select>
    <select id="getUserInfoByUserInfoId" parameterType="long" resultType="com.yellow.b.domain.UserInfo">
        select *
        from t_user_info
        where user_id = #{userId}
    </select>
    <update id="updateUsers" parameterType="com.yellow.b.domain.User">
        update t_user
        set phone = #{phone},
        email = #{email},
        update_ip = #{updateIp},
        update_time = #{updateTime}
        where id = #{id}
    </update>
    <update id="updateUserInfos" parameterType="com.yellow.b.domain.UserInfo">
        update t_user_info
        set nickname = #{nickname},
        avatar = #{avatar},
        sign = #{sign},
        gender = #{gender},
        birth = #{birth},
        update_ip = #{updateIp},
        update_time = #{updateTime}
        where user_id = #{userId}
    </update>
</mapper>